@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #F8F1F1;
  display: flex;
  flex-direction: row;
  
}

/*NAVBAR*/
.header-navbar{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 20%;
  background-color: #025464;
  position: fixed;
  height: 100%;
  color: orange;
  padding: 50px 0 20px 0 ;
}

.navbar-top{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-top img{
  width: 35px;
}

.navbar-center{
  display: flex;
  flex-direction: column;
}

.header-navbar a {
  display: block;
  font-size: 1.5vw;
  color: orange;
  text-decoration: none;
  border-top: orange 1px solid;
  padding: 25px;
}

.header-navbar a:last-child{
  border-bottom: orange 1px solid;
}

.header-navbar a:hover {
 background-color: #E8AA42;
 color:#025464;
 transition: background-color 400ms ease-in-out;
}

.header-navbar .icon{
  display: none;
  font-size: 20px;
}

h1{
  font-size: 1.8vw;
  letter-spacing: 2px;
  margin-left: 10px;
}

p{
  font-size: 1vw;
}

@media (max-width: 1000px) {
  .navbar-top{
    flex-direction: column;
  }
  .navbar-top h1{
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .header-navbar{
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  height: auto;
  color: orange;
  padding: 0 0 0 10px;
  }

  .navbar-top{
    flex-direction: row;
  }

  .navbar-top h1{
    display: none;
  }

  .header-navbar p{
    display: none;
  }

  .header-navbar a {
  font-size: 2vw;
  border-right: orange 1px solid;
  border-top: none;
  padding: 20px;
  }

  .header-navbar a:last-child{
    border-bottom: none;
    border-right: none;
  }

  .header-navbar a:first-child{
  border-left: orange 1px solid;
}

  .navbar-center{
    flex-direction: row;
  }

}

@media (max-width: 650px) {
  .header-navbar .icon{
  display: block;
  }

  .navbar-center{
    display: none;
  }

  .icon{
    border: none;
  }

}
/*NAVBAR*/

/*CONTAINER*/
.container{
  /*border: 2px solid red;*/
  margin-left: 20%;
  padding: 50px;
  width: 80%;
  color:#025464;
}

.homepage h2{
  margin-top: 200px;
  font-size: 2vw;
}
.homepage p{
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 50px;
}

@media (max-width: 800px) {
  .container{
     margin-left: 0%;
     padding: 100px 20px 10px 20px;
     width: 100%;
  }
}

.all-trips-section{
  text-align: center;
}

h2{
  font-size: 2vw;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container a{
  text-decoration: none;
  color: #025464;
}

.travel-card{
  background-color: rgb(232,170,66, 0.3);
  border: 2px solid orange;
  border-radius: 15px;
  margin:20px;
  width: 300px;
  height: 350px;
  gap:10px;
  text-align: center;
}

.travel-card:hover{
  transform: scale(1.1);
  background-color: #E8AA42;
  transition: 200ms ease-in-out 200ms;
}

.travel-card h3{
  margin:10px;
  font-size: 2vw;
}

.travel-card img{
  width:296px;
  height: 250px;
  object-fit: cover;
  border-radius: 13px 13px 0 0;
}

.trip-date{
  display: flex;
  justify-content: space-evenly;
}

.trip-date span{
  font-weight: 700;
}

.big-card-trip{
  display: flex;
  height:500px;
  background-color: rgb(232,170,66, 0.3);
  border: 2px solid orange;
  border-radius: 15px;
}

.trip-creator{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trip-creator img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.trip-creator p{
  margin-top:10px;
}

.trip-right{
  width:60%;
}

.trip-right img{
    height:496px;
    width: 100%;
    object-fit: cover;
    border-radius: 0 13px 13px 0;
}

.trip-left{
  width: 40%;
  padding: 50px;
}

.trip-left a{
  text-decoration: none;
  color:#025464;
  font-size: 10px;
}
.trip-left h1{
  margin-left: 0;
  margin-top:15px;
}

.trip-date-card{
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
}

.trip-date-card div{
  display: flex;
}

.trip-left p{
  margin-bottom: 10px;
}

.trip-action{
  display: flex;
  justify-content: space-between;
}


.trip-action a,.trip-action button{
  cursor: pointer;
  margin-top:20px;
  border:1px orange solid;
  width: 130px;
  background-color: orange;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 2vh;
  padding: 10px 35px;
}

.trip-action a:hover,.trip-action button:hover{
  background-color: #025464;
  border:1px #025464 solid;
  transition: background-color 400ms ease-in-out;
}

@media (max-width: 1000px) {
 .trip-right{
  width:60%;
}
.trip-left{
  width:40%;
}
  .trip-action{
    flex-direction: column;
  }
  .trip-action a,.trip-action button{
    margin-top:0;
  }
}

.add-friends{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.friend-page{
  min-width: 400px;
}

.friend-page h3{
  margin: 10px;
}

.friend-page .friend-info {
  border: 2px dotted orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.friend-page .friend-info img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.add-friends form{
  min-width: 400px;
}

.add-friends form input[type=text],.add-trip input[type=text],.add-trip input[type=date],
.edit-trip input[type=text],.edit-trip input[type=date]{
  width:100%;
  margin-top:10px;
  border:2px orange solid;
  background-color: rgb(255,165,0, 0.2);
  color: #025464;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 2vh;
  padding: 10px 35px;
}
::-webkit-input-placeholder { 
  color: #025464;
}
/*.add-friends form div{
  display: flex;
  flex-direction: row;
}*/
.add-friends form button, .add-trip button, .edit-trip button{
  width: 100%;
  cursor: pointer;
  margin-top:20px;
  border:1px orange solid;
  background-color: orange;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 2vh;
  padding: 10px 35px;
}

.add-friends form button:hover, .add-trip button:hover, .edit-trip button:hover{
  background-color: #025464;
  border:1px #025464 solid;
  transition: background-color 400ms ease-in-out;
}

@media (max-width: 1000px) {
  .add-friends{
    flex-direction: column;
  }
}
.add-trip, .edit-trip{
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 700px;
}
