@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #F8F1F1;
  display: flex;
  flex-direction: row;
  
}

/*NAVBAR*/
.header-navbar{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 20%;
  background-color: #025464;
  position: fixed;
  height: 100%;
  color: orange;
  padding: 50px 0 20px 0 ;
}

.navbar-top{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-top img{
  width: 35px;
}

.navbar-center{
  display: flex;
  flex-direction: column;
}

.header-navbar a {
  display: block;
  font-size: 1.5vw;
  color: orange;
  text-decoration: none;
  border-top: orange 1px solid;
  padding: 25px;
}

.header-navbar a:last-child{
  border-bottom: orange 1px solid;
}

.header-navbar a:hover {
 background-color: #E8AA42;
 color:#025464;
  transition: background-color 200ms ease-in-out;
}

.header-navbar .icon{
  display: none;
  font-size: 20px;
}

h1{
  font-size: 1.8vw;
  letter-spacing: 2px;
  margin-left: 10px;
}

p{
  font-size: 1vw;
}

@media (max-width: 1000px) {
  .navbar-top{
    flex-direction: column;
  }
  .navbar-top h1{
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .header-navbar{
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  height: auto;
  color: orange;
  padding: 0 0 0 10px;
  }

  .navbar-top{
    flex-direction: row;
  }

  .navbar-top h1{
    display: none;
  }

  .header-navbar p{
    display: none;
  }

  .header-navbar a {
  font-size: 2vw;
  border-right: orange 1px solid;
  border-top: none;
  padding: 20px;
  }

  .header-navbar a:last-child{
    border-bottom: none;
    border-right: none;
  }

  .header-navbar a:first-child{
  border-left: orange 1px solid;
}

  .navbar-center{
    flex-direction: row;
  }

}

@media (max-width: 650px) {
  .header-navbar .icon{
  display: block;
  }

  .navbar-center{
    display: none;
  }

  .icon{
    border: none;
  }

}
/*NAVBAR*/

/*CONTAINER*/
.container{
  /*border: 2px solid red;*/
  margin-left: 20%;
  padding: 50px;
  width: 80%;
  color:#025464;
}

.homepage h2{
  margin-top: 160px;
  font-size: 3vw;
}
.homepage p{
  margin-top: 30px;
  font-weight: 400;
  font-size: 2vw;
  line-height: 50px;
}

@media (max-width: 800px) {
  .container{
     margin-left: 0%;
     padding: 100px 20px 10px 20px;
     width: 100%;
  }
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container a{
  text-decoration: none;
  color: #025464;
}

.travel-card{
  background-color: rgb(232,170,66, 0.3);
  border: 2px solid #025464;
  border-radius: 15px;
  margin:20px;
  width: 300px;
  height: 350px;
  gap:10px;
  text-align: center;
}

.travel-card h3{
  margin:10px;
  font-size: 2vw;
}

.travel-card img{
  width:296px;
  height: 250px;
  object-fit: cover;
  border-radius: 13px 13px 0 0;
}

.trip-date{
  display: flex;
  justify-content: space-evenly;
}

.trip-date span{
  font-weight: 700;
}

