<%- include('../partials/header') %>
<section class="add-trip">
<h2>Add a Trip!</h2>
<br><br>
<form action="/trips" method="POST">
  <input type="text" name="name" placeholder="Country">
  <br><br>
  <input type="date" name="from" placeholder="From">
    <br><br>
  <input type="date" name="to"  placeholder="To">
    <br><br>
  <input type="text" name="sites" placeholder="Sites">
    <br><br>
  <input type="text" name="learn" placeholder="What I've learned">
    <br><br>
  <input type="text" name="image" placeholder="Picture">
    <br><br>
  <button type="submit">Add Trip</button>
</form>

<p>
  <%= errorMsg %>
</p>

</section>
<%- include('../partials/footer') %>